@model IEnumerable<DoreanSportic.Application.DTOs.ResennaValoracionDTO>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="mb-4 overflow-x-auto bg-base-100 relative">
    <div id="zona-resennas" class="mb-4 overflow-x-auto bg-base-100 relative">
        <h1 class="py-2 font-bold">@(Localizer["Listado de reseñas"])</h1>
        <table class="table w-full rounded-box border border-base-content/5">
            <!-- head -->
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">@(Localizer["Usuario"])</th>
                    <th class="text-center">@(Localizer["Producto"])</th>
                    <th class="text-center">@(Localizer["Calificación"])</th>
                    <th class="text-center">@(Localizer["Fecha de la reseña"])</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="font-bold text-left">
                            @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.UserName)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Calificacion) / 5
                        </td>
                        <td class="text-center">
                            @item.FechaResenna.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @*                         @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
 *@@*                         @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
 *@                        <!-- Botón alineado abajo a la derecha -->
                            <div class="mt-auto flex justify-end gap-2">
                                <a class="btn btn-soft btn-primary text-white"
                                   onclick="cargarDetalleResenna(@item.Id)">@(Localizer["Ver detalles"])</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot class="bottom-0 right-0 w-full bg-base-100 border-t">
                <tr>
                    <td colspan="5">
                        <div class="flex justify-end my-2">
                            <div class="join">
                                @Html.PagedListPager((IPagedList)Model, page =>
                                Url.Action("IndexAdmin", new { page }),
                                                                new PagedListRenderOptions
                                                                {
                                                                    Display = PagedListDisplayMode.Always,
                                                                    MaximumPageNumbersToDisplay = 5,
                                                                    LiElementClasses = new[] { "join-item" },
                                                                    PageClasses = new[] { "bg-primary text-white btn btn-ghost", "join-item", "pagina-resenna" }, 
                                                                    UlElementClasses = new[] { "join" },
                                                                    ContainerDivClasses = new[] { "join" }
                                                                })
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<!-- KPIs de valoraciones -->
<div id="kpi-resennas" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3 mb-4">

    <div class="flex flex-row justify-between">
        <div class="flex flex-row p-3 rounded border text-center">
            <div class="text-xs opacity-70">@(Localizer["Cantidad de reseñas:"]) ⭐ 5 -> </div>
            <div id="kpi-star5" class="text-xl font-bold"> —</div>
        </div>
        <div class="flex flex-row p-3 rounded border text-center">
            <div class="text-xs opacity-70">@(Localizer["Cantidad de reseñas:"]) ⭐ 4 -> </div>
            <div id="kpi-star4" class="text-xl font-bold">—</div>
        </div>
    </div>

    <div class="flex flex-row justify-between">
        <div class="flex flex-row p-3 rounded border text-center">
            <div class="text-xs opacity-70">@(Localizer["Cantidad de reseñas:"]) ⭐ 3 -> </div>
            <div id="kpi-star3" class="text-xl font-bold">—</div>
        </div>
        <div class="flex flex-row p-3 rounded border text-center">
            <div class="text-xs opacity-70">@(Localizer["Cantidad de reseñas:"]) ⭐ 2 -> </div>
            <div id="kpi-star2" class="text-xl font-bold">—</div>
        </div>
    </div>

    <div class="flex flex-row justify-between">
        <div class="flex flex-row p-3 rounded border text-center">
            <div class="text-xs opacity-70">@(Localizer["Cantidad de reseñas:"]) ⭐ 1 -> </div>
            <div id="kpi-star1" class="text-xl font-bold">—</div>
        </div>
    </div>

    <div class="p-3 rounded border text-center">
        <div class="text-xl opacity-70">@(Localizer["Promedio"])</div>
        <div id="kpi-avg" class="text-xl font-bold">—</div>
        <div class="text-[10px] opacity-70" id="kpi-total">—</div>
    </div>

</div>

<h1><b>@(Localizer["Gráfico de estadísticas de reseñas"])</b></h1>
<br />

<div style="height: 90%">
    <canvas id="chart-resennas"></canvas>
</div>

