@model DoreanSportic.Web.ViewModels.CarritoCarritoDetalleViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    // Para el separador de miles
    var culturaPersonalizada = (CultureInfo)CultureInfo.InvariantCulture.Clone();
    culturaPersonalizada.NumberFormat.NumberGroupSeparator = " ";
    culturaPersonalizada.NumberFormat.NumberDecimalSeparator = ".";
    
    // Obtener el subtotal a pagar (por medio de LINQ)
    var subtotal = Model.PedidoDetalles.Sum(x => x.SubTotal);

    // Obtener la cantidad de detalles
    var cantidad = Model.PedidoDetalles.Count();
}

<span class="text-lg font-bold">@(Localizer["Productos en el carrito"]): @cantidad</span>

<hr stlye="color: white"/>

<!-- Contenedor con scroll -->
<div style="max-height: 250px; overflow-y: auto;">
    <!-- Lista de productos -->
    <ul class="divide-y gap-2">
        @foreach (var item in Model.PedidoDetalles)
        {
            @* Cargar los productos en cada detalle del carrito *@
            <li class="flex items-center py-2">
                @if (item.IdProductoNavigation.PrimeraImagen != null)
                {
                    var base64 = @Convert.ToBase64String(item.IdProductoNavigation.PrimeraImagen ?? new byte[0]);
                    <img src="data:image/png;base64,@base64" alt=@(Localizer["Imagen del producto"])
                         class="w-10 h-10 rounded object-cover mr-2" />
                }
                else
                {
                    <img src="/ruta/imagen-generica.png" alt=@(Localizer["Imagen del producto"]) class="w-10 h-10 rounded object-cover mr-2" />
                }

                <div class="flex-1" style="margin-left: 5%">
                    <div class="font-bold text-sm">@item.IdProductoNavigation.Nombre</div>
                    <div class="text-xs text-gray-300"><b>@(Localizer["Cantidad"]): </b>@item.Cantidad</div>
                    <div class="text-xs text-gray-200"><b>@(Localizer["Subtotal"]): </b>₡@item.SubTotal.ToString("N2", culturaPersonalizada)</div>
                </div>
            </li>
            <hr stlye="color: white" />
        }
    </ul>
</div>



<!-- Subtotal y acciones (redirecciones de los botones) -->
<div class="pt-2">
    <div id="subtotalCarrito"
         data-subtotal="@subtotal"
         class="text-white" style="font-size: 20px">
      <b>@(Localizer["Subtotal"]): </b>₡@subtotal.ToString("N2", culturaPersonalizada)</div>
    <div class="card-actions mt-2">
        <!-- Redirección a la vista de detalles del carrito -->
        <a id="verCarrito" href="/Pedido/Details/@Model.PedidoId" class="btn btn-success btn-block">@(Localizer["Ver carrito"])</a>

    </div>
</div>

<!-- Badge oculto solo para el JS, es caso de ser necesario -->
<span id="carrito-navbar-badge-partial" style="display:none;">@cantidad</span>
