@model IEnumerable<DoreanSportic.Application.DTOs.ResennaValoracionDTO>

@{
    var promedio = Model.Any() ? Model.Average(r => r.Calificacion) : 0;
    var promedioEntero = (int)Math.Floor(promedio); // para estrellas completas
}
<div class="flex w-75 items-center gap-2 mb-4">
    <span class="font-bold">PROMEDIO DE CALIFICACIÓN: @promedio.ToString("0.0")</span>
    <div class="flex gap-1">
        @for (int i = 1; i <= 5; i++)
        {
            var fillColor = i <= promedioEntero ? "text-warning" : "text-gray-300";

            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 stroke="none"
                 class="w-5 h-5 @fillColor">
                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                             1.402 8.175L12 18.896l-7.336 3.861
                             1.402-8.175-5.934-5.782 8.2-1.192z" />
            </svg>
        }
    </div>
</div>


<div class="flex flex-col gap gap-2 w-75">
    @foreach (var item in Model)
    {
        <div class="card bg-base-100 shadow-lg max-h-96 overflow-y-auto">

            <div class="card-body">

                <div class="border-b border-base-300 pb-2 mb-2">
                    <div class="flex flex-row justify-between gap gap-1">
                        <p class="font-bold italic" style="color:#004AAD">@@@item.IdUsuarioNavigation.UserName<p>
                        <span class="text-xs">@item.FechaResenna.ToString("dd-MM-yyyy")</span>
                    </div>
                    <br />
                    <p class="mt-2 italic">"@item.Comentario"</p>
                    <br />
                    <div class="flex gap-1">
                        <!-- Mapeo de calificación con estrellas -->
                        @for (int i = 1; i <= 5; i++)
                        {
                            var isActive = i <= item.Calificacion;
                            var fillColor = isActive ? "text-warning" : "text-gray-300";
                            var animationClass = isActive ? "animate-bounce" : "";

                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 24 24"
                                 stroke="none"
                                 class="@($"w-5 h-5 {fillColor} {animationClass} transition-all duration-300")">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782 1.402 8.175L12 18.896l-7.336 3.861 1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        }
                    </div>
                </div>
            </div>
        </div>

    }
</div>






