@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "DashboardAdmin";
}
<!-- Flatpickr CSS -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">

<div class="flex min-h-screen w-full gap gap-2 pt-0">
    <!-- Sidebar -->
    <aside class="w-50 p-4 rounded-lg bg-black text-white" style="border-radius: 0px 20px 20px 0px;">
        <h2 class="flex items-center gap-3 text-xl font-bold flex items-center gap-2 pb-4 mt-2 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                <path d="M19.14 12.936a7.948 7.948 0 0 0 .06-.936 7.948 7.948 0 0 0-.06-.936l2.037-1.588a.5.5 0 0 0 .12-.638l-1.926-3.33a.5.5 0 0 0-.607-.222l-2.4.96a7.973 7.973 0 0 0-1.617-.936l-.36-2.544A.5.5 0 0 0 14.4 2h-4.8a.5.5 0 0 0-.495.42l-.36 2.544a7.973 7.973 0 0 0-1.617.936l-2.4-.96a.5.5 0 0 0-.607.222L2.702 8.49a.5.5 0 0 0 .12.638L4.86 10.71a7.948 7.948 0 0 0 0 1.872l-2.037 1.588a.5.5 0 0 0-.12.638l1.926 3.33a.5.5 0 0 0 .607.222l2.4-.96a7.973 7.973 0 0 0 1.617.936l.36 2.544A.5.5 0 0 0 9.6 22h4.8a.5.5 0 0 0 .495-.42l.36-2.544a7.973 7.973 0 0 0 1.617-.936l2.4.96a.5.5 0 0 0 .607-.222l1.926-3.33a.5.5 0 0 0-.12-.638l-2.037-1.588zM12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>


            @(Localizer["Administrador"])

        </h2>

        <!-- Menú -->
        <ul class="space-y-4 mt-2">
            <!-- Productos -->
            <li class="py-2">
                <a class="flex items-center gap-3 btn btn-ghost justify-start" onclick="cargarVista('/Producto/IndexAdmin')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M6 2c-.552 0-1 .448-1 1v4h2V4h2v6H5v13h14V10h-4V4h2v3h2V3c0-.552-.448-1-1-1h-2a1 1 0 0 0-.894.553L14 5.118V9h-4V5.118L8.894 2.553A1 1 0 0 0 8 2H6z" />
                    </svg>
                    @(Localizer["Productos"])

                </a>
                <hr class="bg-white">
            </li>
            <!-- Reseñas -->
            <li class="py-2">
                <a class="flex items-center gap-3 btn btn-ghost justify-start" onclick="cargarVista('/ResennaValoracion/IndexAdmin')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 17.27l6.18 3.73-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                    </svg>
                    @(Localizer["Reseñas"])

                </a>
                <hr class="bg-white">
            </li>
            <!-- Promociones -->
            <li class="py-2">
                <a class="flex items-center gap-3 btn btn-ghost justify-start" onclick="cargarVista('/Promocion/IndexAdmin')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 4.81V19.2c0 .45.54.67.85.35l4.79-4.8c.2-.2.2-.51 0-.71l-4.79-4.8a.5.5 0 0 0-.85.36zm-2-2a.5.5 0 0 0-.85-.36l-4.79 4.8a.5.5 0 0 0 0 .71l4.79 4.8a.5.5 0 0 0 .85-.35V2.81z" />
                    </svg>
                    @(Localizer["Promociones"])

                </a>
                <hr class="bg-white">
            </li>
            <!-- Usuarios -->
            <li class="py-2">
                <a class="flex items-center gap-3 btn btn-ghost justify-start" onclick="cargarVista('/Usuario/IndexAdmin')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                        <path d="M16.5 12.75a3.75 3.75 0 1 0-3.3-5.58 5.25 5.25 0 0 1 1.8 3.99c0 .53-.08 1.04-.23 1.52a3.74 3.74 0 0 0 1.73.07zM7.5 12.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5zm9 1.5c-1.86 0-3.5.67-4.62 1.74a6.73 6.73 0 0 1 2.37 3.51h6.25a.88.88 0 0 0 .88-.88 4.38 4.38 0 0 0-4.88-3.37zM7.5 14.25c-2.88 0-5.25 1.87-5.25 4.19 0 .48.39.88.88.88h8.75c.01-.3.06-.59.15-.87a5.86 5.86 0 0 1 1.39-2.29c-1.16-1.14-2.84-1.91-5.92-1.91z" />
                    </svg>
                    @(Localizer["Usuarios"])
                </a>
                <hr class="bg-white">
            </li>
        </ul>
    </aside>

    <!-- Contenido principal -->
    <main class="py-2">
        <!-- Contenedor para cargar las vistas parciales -->
        <div id="contenido-dinamico" class="py-2 w-full">

            <!-- Mensaje por defecto -->
            <div id="contenido-vista">
                <h1 class="text-2xl font-bold mb-4">
                    @(Localizer["Bienvenido al panel de administrador"]).
                </h1>
                <p>
                    @(Localizer["Selecciona una opción del menú lateral para empezar"]).
                </p>
            </div>

        </div>

        <!-- Spinner -->
        <div id="loader" class="hidden flex flex-col items-center justify-center gap-2">
            <p class="text-gray-600 font-bold">
                @(Localizer["Cargando"])
            </p>
            <span class="loading loading-ring loading-xl"></span>
        </div>

    </main>

</div>

@section Scripts {

    <!-- Scripts específicos del dashboard-->
    <script src="~/js/dashboard.js"></script>

    <!-- Javascript para Flatpicker (y mostrar dd/mm/yyy) en los datepickers -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

    <!-- Scripts de jquery para validación del lado del cliente-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}









