@model DoreanSportic.Web.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "_LayoutLogin";

    // URL de retorno después del inicio de sesión
    var returnUrl = ViewBag.ReturnUrl as string ?? Url.Content("~/");
}

<!-- Contenedor para manejar el login del sistema-->
<div class="hero min-h-screen w-75">
    <div class="hero-content flex-col lg:flex-row-reverse w-full shadow-lg p-3">
        <div class="text-center text-black lg:text-left max-w-xl">
            <h1 class="text-5xl font-bold" style="font-size: 25px">¡Bienvenido!</h1>
            <p class="py-6 font-bold">
                Inicia sesión para continuar
            </p>
        </div>

        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                @* Errores del modelo *@
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                @* Formulario de inicio de sesión *@
                <form id="formLogin" asp-action="Login" asp-controller="Login" method="post">
                    @Html.AntiForgeryToken()

                    @* Campo oculto para la URL de retorno *@
                    <input type="hidden" name="returnUrl" value="@returnUrl" />

                    @* Campos de entrada para el nombre de usuario y la contraseña *@
                    <fieldset class="fieldset">

                        @* Título del formulario *@
                        <legend class="text-lg font-semibold">Iniciar sesión</legend>

                        @* Campo de Usuario *@
                        <label class="label" asp-for="UserName"></label>
                        <input class="input input-bordered" asp-for="UserName" placeholder="Usuario" style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="UserName" style="color:red; font-size: small"></span>

                        @* Campo de Contraseña *@
                        <label class="label mt-3" asp-for="Password"></label>
                        <input class="input input-bordered" asp-for="Password" type="password" placeholder="Contraseña" style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Password" style="color:red; font-size: small"></span>

                        @* Campo de se me olvidó la contraseña*@
                        <div class="mt-2">
                            <a class="link link-hover text-sm" asp-controller="Login" asp-action="RecuperarContrasenna">¿Olvidaste tu contraseña?</a>
                        </div>

                        @* Botón de inicio de sesión *@
                        <button class="btn bg-[#004AAD] text-white mt-4" type="submit">Iniciar sesión</button>
                    </fieldset>
                </form>

                <hr />

                @* Para registrar usuario *@
                <p class="text-sm">
                    ¿No tienes cuenta?
                    <a class="link link-hover font-semibold" asp-controller="Login" asp-action="Registrar">Regístrate</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Localizers necesarios para manejar por medio de JavaScript (validación cliente) -->
<div id="mensajes-internacionalizados" class="hidden"
     data-msjLoginOk="@Localizer["Bienvenido"]"
     data-msjLoginError="@Localizer["Revisa tus credenciales"]"
     data-msjErrorInesperado="@Localizer["Error inesperado"]">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}