@model DoreanSportic.Web.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Iniciar sesión"];
    Layout = "_LayoutLogin";

    // URL de retorno después del inicio de sesión
    var returnUrl = ViewBag.ReturnUrl as string ?? Url.Content("~/");
}

<!-- Para seleccionar el idioma de la aplicación -->
@{
    // Obtener idioma/cultura actual que corre la aplicación
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;

    // Generar las opciones del formulario (options) como cadenas String ya que Razor no permite agregarlas como
    // atributos en las opciones del formulario. Luego en el formulario se usa Html.Raw para inyectar texto HTML puro
    // el cual Razor no ve como un tag helper (lo que provoca un error de no poder insertar código C# dentro del atributo del tag helper)
    var optionEs = $"<option value=\"es-CR\"{(currentCulture.StartsWith("es") ? " selected" : "")}>ES</option>";
    var optionEn = $"<option value=\"en-US\"{(currentCulture.StartsWith("en") ? " selected" : "")}>EN</option>";
}

<nav class="navbar bg-transparent absolute top-0 left-0 right-0 z-50">

    <div class="flex-1"></div> <!-- empujar a la derecha -->
    <div class="navbar-end pr-4 w-full">
        @*Formulario para manejar la selección del idioma*@

        <form id="lang-form"
              action="@Url.Action("SetLanguage","Language")"
              method="post"
              class="flex items-center gap-2">
            <div class="flex items-center gap-2" style="width: 150px ; padding-right: 10px">
                <!-- Ícono de mundo SVG -->
                <span class="text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="inline h-5 w-5 text-black" viewBox="0 0 24 24" stroke="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" />
                        <path d="M2 12h20M12 2a15.3 15.3 0 010 20M12 2a15.3 15.3 0 000 20" stroke="currentColor" stroke-width="2" fill="none" />
                    </svg>
                </span>
                <select name="culture"
                        onchange="this.form.submit();"
                        class="select select-sm bg-black text-white text-base-content"
                        style="border:none">
                    @Html.Raw(optionEs)
                    @Html.Raw(optionEn)
                </select>
            </div>
            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        </form>
    </div>

</nav>


<!-- Contenedor para manejar el login del sistema-->
<div class="hero min-h-screen w-75 pt-8">
    <div class="hero-content flex-col lg:flex-row-reverse w-full shadow-lg p-3">
        <div class="text-center text-black lg:text-left max-w-xl">
            <h1 class="text-5xl font-bold" style="font-size: 25px">@Localizer["Bienvenido"]</h1>
            <p class="py-6 font-bold">
                @Localizer["Inicia sesión para continuar"]
            </p>
        </div>

        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                @* Errores del modelo *@
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                @* Formulario de inicio de sesión *@
                <form id="formLogin" asp-action="Login" asp-controller="Login" method="post">
                    @Html.AntiForgeryToken()

                    @* Campo oculto para la URL de retorno *@
                    <input type="hidden" name="returnUrl" value="@returnUrl" />

                    @* Campos de entrada para el nombre de usuario y la contraseña *@
                    <fieldset class="fieldset">

                        @* Título del formulario *@
                        <legend class="text-lg font-semibold">@Localizer["Iniciar sesión"]</legend>

                        @* Campo de Usuario *@
                        <label class="label" asp-for="UserName">@Localizer["Usuario"]</label>
                        <input class="input input-bordered" asp-for="UserName" placeholder=@Localizer["Usuario"] style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="UserName" style="color:red; font-size: small"></span>

                        @* Campo de Contraseña *@
                        <label class="label mt-3" asp-for="Password">@Localizer["Contrasenna"]</label>
                        <input class="input input-bordered" asp-for="Password" type="password" placeholder=@Localizer["Contrasenna"] style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Password" style="color:red; font-size: small"></span>

                        @* Campo de se me olvidó la contraseña*@
                        <div class="mt-2">
                            <a class="link link-hover text-sm" asp-controller="Login" asp-action="RecuperarContrasenna">@Localizer["¿Olvidaste tu contraseña?"]</a>
                        </div>

                        @* Botón de inicio de sesión *@
                        <button class="btn bg-[#004AAD] text-white mt-4" type="submit">@Localizer["Iniciar sesión"]</button>
                    </fieldset>
                </form>

                <hr />

                @* Para registrar usuario *@
                <p class="text-sm">
                    @Localizer["¿No tienes cuenta?"]
                    <a class="link link-hover font-semibold" asp-controller="Login" asp-action="Registrar">@Localizer["Regístrate"]</a>
                </p>
            </div>
        </div>
    </div>
</div>



<!-- Localizers necesarios para manejar por medio de JavaScript (validación cliente) -->
<div id="mensajes-internacionalizados" class="hidden"
     data-msjLoginOk="@Localizer["Bienvenido"]"
     data-msjLoginError="@Localizer["Revisa tus credenciales"]"
     data-msjErrorInesperado="@Localizer["Error inesperado"]">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}