@model DoreanSportic.Web.ViewModels.CambiarContrasennaViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Recuperar Contraseña"];
    Layout = "_LayoutLogin"; 
}

<!-- Para seleccionar el idioma de la aplicación -->
@{
    // Obtener idioma/cultura actual que corre la aplicación
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;

    // Generar las opciones del formulario (options) como cadenas String ya que Razor no permite agregarlas como
    // atributos en las opciones del formulario. Luego en el formulario se usa Html.Raw para inyectar texto HTML puro
    // el cual Razor no ve como un tag helper (lo que provoca un error de no poder insertar código C# dentro del atributo del tag helper)
    var optionEs = $"<option value=\"es-CR\"{(currentCulture.StartsWith("es") ? " selected" : "")}>ES</option>";
    var optionEn = $"<option value=\"en-US\"{(currentCulture.StartsWith("en") ? " selected" : "")}>EN</option>";
}

<nav class="navbar bg-transparent absolute top-0 left-0 right-0 z-50">

    <div class="flex-1"></div> <!-- empujar a la derecha -->
    <div class="navbar-end pr-4 w-full">
        @*Formulario para manejar la selección del idioma*@

        <form id="lang-form"
              action="@Url.Action("SetLanguage","Language")"
              method="post"
              class="flex items-center gap-2">
            <div class="flex items-center gap-2" style="width: 150px ; padding-right: 10px">
                <!-- Ícono de mundo SVG -->
                <span class="text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="inline h-5 w-5 text-black" viewBox="0 0 24 24" stroke="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" />
                        <path d="M2 12h20M12 2a15.3 15.3 0 010 20M12 2a15.3 15.3 0 000 20" stroke="currentColor" stroke-width="2" fill="none" />
                    </svg>
                </span>
                <select name="culture"
                        onchange="this.form.submit();"
                        class="select select-sm bg-black text-white text-base-content"
                        style="border:none">
                    @Html.Raw(optionEs)
                    @Html.Raw(optionEn)
                </select>
            </div>
            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        </form>
    </div>

</nav>

<div class="hero bg-transparent min-h-screen w-75">
    <div class="hero-content flex-col w-full max-w-md shadow-lg p-3">
        <div class="text-center text-black">
            <h1 class="text-3xl font-bold" style="font-size: 25px">@Localizer["Recuperar contraseña"]</h1>
            <p class="py-4 font-bold">@Localizer["Abajo encontrarás el formulario para actualizar la contraseña"]</p>
        </div>

        <div class="card bg-base-100 w-full shadow-2xl">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                <form id="formRecuperarContrasenna" asp-action="RecuperarContrasenna" method="post">
                    @Html.AntiForgeryToken()

                    @* Errores del modelo *@
                    <div asp-validation-summary="ModelOnly" class="text-error mb-2"></div>

                    @* Fomrulario para cambiar contraseña *@
                    <fieldset class="fieldset">

                        @* Campo de contraseña actual*@
                        <label class="label" asp-for="Usuario">@Localizer["Usuario"]</label>
                        <input class="input input-bordered" asp-for="Usuario" placeholder="@Localizer["Usuario"]" style="border-color:black;" />
                        <span class="text-error text-sm italic" asp-validation-for="Usuario" style="color:red; font-size: small"></span>

                        @* Campo de contrasenna nueva *@
                        <label class="label mt-3" asp-for="ContrasennaNueva">@Localizer["Nueva contraseña"]</label>
                        <div class="relative w-full">
                            <input class="input input-bordered w-full pr-10"
                                   asp-for="ContrasennaNueva"
                                   type="password"
                                   placeholder=@Localizer["Contraseña"]
                                   style="border-color:black" />

                            <!-- Botón toggle -->
                            <button type="button"
                                    class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                                    onclick="togglePassword(this)">
                                👁️
                            </button>
                        </div>
                        <span class="text-error text-sm italic" asp-validation-for="ContrasennaNueva" style="margin-left: 10%;color:red; font-size: small"></span>
                        <span id="msj-password"
                              data-msj-len='@Localizer["La contraseña debe tener entre {{0}} y {{1}} caracteres"]'
                              data-min="8" data-max="64"
                              data-msj-req='@Localizer["Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"]'
                              class="mt-1"
                              style="display:none"></span>

                        @* Campo de confirmar contrasenna *@
                        <label class="label mt-3" asp-for="ConfirmarContrasenna">@Localizer["Confirmar contraseña"]</label>
                        <div class="relative w-full">
                            <input class="input input-bordered w-full pr-10"
                                   asp-for="ConfirmarContrasenna"
                                   type="password"
                                   placeholder=@Localizer["Confirmar contraseña"]
                                   style="border-color:black" />

                            <!-- Botón toggle -->
                            <button type="button"
                                    class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                                    onclick="togglePassword(this)">
                                👁️
                            </button>
                        </div>
                        <span class="text-error text-sm italic" asp-validation-for="ConfirmarContrasenna" style="margin-left: 10%;color:red; font-size: small"></span>
                        <span id="msj-confirm" data-msj='@Localizer["Las contraseñas no coinciden"]' style="display:none"></span>


                        <div class="flex flex-col gap-1 mt-4">
                            @* Botón para enviar solicitud *@
                            <button class="btn bg-[#004AAD] text-white" type="submit">@Localizer["Enviar"]</button>

                            @* Botón para cancelar *@
                            <a class="btn btn-soft text-black mt-2" asp-controller="Login" asp-action="Login">@Localizer["Cancelar"]</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Localizers necesarios para manejar por medio de JavaScript (validación cliente) -->
<div id="mensajes-internacionalizados" class="hidden"
     data-ModeloInvalido='@Localizer["Formulario inválido o incompleto"]'
     data-msjErrorInesperado='@Localizer["Error inesperado"]'
     data-passLen='@Localizer["La contraseña debe tener entre {{0}} y {{1}} caracteres"]'
     data-passReq='@Localizer["Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"]'
     data-confirmar='@Localizer["Las contraseñas no coinciden"]'
     data-recuperacionOk='@Localizer["Contraseña recuperada"]'>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
