@model DoreanSportic.Web.ViewModels.RegistroViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Registrarse"];
    Layout = "_LayoutLogin";
}

<!-- Para seleccionar el idioma de la aplicación -->
@{
    // Obtener idioma/cultura actual que corre la aplicación
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;

    // Generar las opciones del formulario (options) como cadenas String ya que Razor no permite agregarlas como
    // atributos en las opciones del formulario. Luego en el formulario se usa Html.Raw para inyectar texto HTML puro
    // el cual Razor no ve como un tag helper (lo que provoca un error de no poder insertar código C# dentro del atributo del tag helper)
    var optionEs = $"<option value=\"es-CR\"{(currentCulture.StartsWith("es") ? " selected" : "")}>ES</option>";
    var optionEn = $"<option value=\"en-US\"{(currentCulture.StartsWith("en") ? " selected" : "")}>EN</option>";
}

<nav class="navbar bg-transparent absolute top-0 left-0 right-0 z-50">

    <div class="flex-1"></div> <!-- empujar a la derecha -->
    <div class="navbar-end pr-4 w-full">
        @*Formulario para manejar la selección del idioma*@

        <form id="lang-form"
              action="@Url.Action("SetLanguage","Language")"
              method="post"
              class="flex items-center gap-2">
            <div class="flex items-center gap-2" style="width: 150px ; padding-right: 10px">
                <!-- Ícono de mundo SVG -->
                <span class="text-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="inline h-5 w-5 text-black" viewBox="0 0 24 24" stroke="currentColor">
                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" />
                        <path d="M2 12h20M12 2a15.3 15.3 0 010 20M12 2a15.3 15.3 0 000 20" stroke="currentColor" stroke-width="2" fill="none" />
                    </svg>
                </span>
                <select name="culture"
                        onchange="this.form.submit();"
                        class="select select-sm bg-black text-white text-base-content"
                        style="border:none">
                    @Html.Raw(optionEs)
                    @Html.Raw(optionEn)
                </select>
            </div>
            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        </form>
    </div>

</nav>


<div class="hero bg-base-200 min-h-screen w-100">
    <div class="hero-content flex-col lg:flex-row w-full shadow-lg p-3">
        <div class="text-center lg:text-left max-w-xl">
            <h1 class="text-5xl font-bold" style="font-size: 25px">@Localizer["Crea tu cuenta"]</h1>
            <p class="py-6 font-bold">
                @Localizer["Regístrate para comprar más rápido, ver tus pedidos y guardar tus datos de envío."]
            </p>
        </div>

        <div class="card bg-base-100 w-full max-w-md shrink-0 shadow-2xl">
            <div class="card-body">
                @* Errores del modelo *@
                <div asp-validation-summary="ModelOnly" class="text-sm italic" style="color:red; font-size: small"></div>

                @* Formulario de registro *@
                <form id="formRegistro" asp-action="Registrar" asp-controller="Login" method="post">
                    @Html.AntiForgeryToken()

                    @* Campos para registrar el usuario *@
                    <fieldset class="fieldset">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

                            @* Campo nombre*@
                            <div>
                                <label class="label mb-1" asp-for="Nombre">@Localizer["Nombre"]</label>
                                <input class="input input-bordered" asp-for="Nombre" placeholder='@Localizer["Nombre"]' style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Nombre" style="color:red; font-size: small"></span>
                                <span id="msj-nombre"
                                      data-msj-len='@Localizer["El nombre debe tener entre {{0}} y {{1}} caracteres"]'
                                      data-min="2" data-max="30"
                                      data-msj='@Localizer["El nombre solo debe contener letras"]'
                                      style="display:none"></span>
                            </div>

                            @* Campo apellido*@
                            <div>
                                <label class="label mb-1" asp-for="Apellido">@Localizer["Apellido"]</label>
                                <input class="input input-bordered" asp-for="Apellido" placeholder='@Localizer["Apellido"]' style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Apellido" style="color:red; font-size: small"></span>
                                <span id="msj-apellido"
                                      data-msj-len='@Localizer["El apellido debe tener entre {{0}} y {{1}} caracteres"]'
                                      data-min="2" data-max="30"
                                      data-msj='@Localizer["El apellido solo debe contener letras"]'
                                      style="display:none"></span>
                            </div>
                        </div>

                        @* Campo correo electrónico*@
                        <label class="label" asp-for="Email">@Localizer["Correo electrónico"]</label>
                        <input class="input input-bordered" asp-for="Email" type="email" placeholder='@Localizer["correo@ejemplo.com"]' style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Email" style="color:red; font-size: small"></span>
                        <span id="msj-email" data-msj='@Localizer["Correo electrónico no válido"]' style="display:none"></span>

                        @* Campo teléfono *@
                        <label class="label" asp-for="Telefono">@Localizer["Teléfono (opcional)"]</label>
                        <input class="input input-bordered" asp-for="Telefono" placeholder='@Localizer["Teléfono"]' style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="Telefono" style="color:red; font-size: small"></span>
                        <span id="msj-telefono" data-msj='@Localizer["Número de teléfono no válido"]' style="display:none"></span>

                        @* Campo Sexo *@
                        <label class="label mb-1" asp-for="IdSexo">@Localizer["Sexo (opcional)"]</label>
                        <select class="select select-bordered" asp-for="IdSexo" asp-items="Model.Sexos" style="border-color:black">
                            <option value="3">-- @Localizer["Seleccione"] --</option>
                        </select>


                        @* Para crear el usuario y la contraseña *@
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <div>
                                <label class="label" asp-for="UserName">@Localizer["Usuario"]</label>
                                <input class="input input-bordered" asp-for="UserName" placeholder='@Localizer["Nombre de usuario"]' style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="UserName" style="color:red; font-size: small"></span>
                                <span id="msj-usuario"
                                      data-msj-len='@Localizer["El usuario debe tener entre {{0}} y {{1}} caracteres"]'
                                      data-min="8" data-max="30"
                                      data-msj-form='@Localizer["Solo letras, números, punto, guion y guion bajo"]'
                                      style="display:none"></span>
                            </div>
                            <div>
                                <label class="label mb-1" asp-for="Password">@Localizer["Contraseña"]</label>
                                <input class="input input-bordered" asp-for="Password" type="password" placeholder='@Localizer["Contraseña"]' style="border-color:black" />
                                <span class="text-error text-sm italic" asp-validation-for="Password" style="color:red; font-size: small"></span>
                                <span id="msj-password"
                                      data-msj-len='@Localizer["La contraseña debe tener entre {{0}} y {{1}} caracteres"]'
                                      data-min="8" data-max="64"
                                      data-msj-req='@Localizer["Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"]'
                                      class="mt-1"
                                      style="display:none"></span>
                            </div>
                        </div>

                        @* Confirmación de contraseña*@
                        <label class="label" asp-for="ConfirmPassword">@Localizer["Confirmar contraseña"]</label>
                        <input class="input input-bordered" asp-for="ConfirmPassword" type="password" placeholder='@Localizer["Confirmar contraseña"]' style="border-color:black" />
                        <span class="text-error text-sm italic" asp-validation-for="ConfirmPassword" style="color:red; font-size: small"></span>
                        <span id="msj-confirm" data-msj='@Localizer["Las contraseñas no coinciden"]' style="display:none"></span>

                        @* Seleccionar el tipo de usuario *@
                        <label class="label mb-1" asp-for="IdTipoUsuario">@Localizer["Rol de usuario"]</label>
                        <select class="select select-bordered" asp-for="IdTipoUsuario" asp-items="Model.TiposUsuario" style="border-color:black">
                            <option value="0">-- @Localizer["Seleccione"] --</option>
                        </select>
                        <span class="text-error text-sm italic" asp-validation-for="IdTipoUsuario" style="color:red; font-size: small"></span>
                        

                        @* Botón para crear cuenta*@
                        <button class="btn bg-[#004AAD] text-white mt-4" type="submit">@Localizer["Crear cuenta"]</button>

                    </fieldset>
                </form>

                <hr />

                <p class="text-sm">
                    @Localizer["¿Ya tienes cuenta?"]
                    <a class="link link-hover font-semibold" asp-controller="Login" asp-action="Login">@Localizer["Inicia sesión"]</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Localizers necesarios para manejar por medio de JavaScript (validación cliente) -->
<div id="mensajes-internacionalizados" class="hidden"
     data-RegistroOk='@Localizer["Cuenta creada correctamente"]'
     data-RegistroError='@Localizer["Corrige los errores del formulario"]'
     data-ModeloInvalido='@Localizer["Formulario inválido o incompleto"]'
     data-msjErrorInesperado='@Localizer["Error inesperado"]'
     data-usuarioLong='@Localizer["El usuario debe tener entre {{0}} y {{1}} caracteres"]'
     data-usuarioForm='@Localizer["Solo letras, números, punto, guion y guion bajo"]'
     data-passLen='@Localizer["La contraseña debe tener entre {{0}} y {{1}} caracteres"]'
     data-passReq='@Localizer["Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"]'
     data-confirmar='@Localizer["Las contraseñas no coinciden"]'
     data-email='@Localizer["Correo electrónico no válido"]'
     data-nombre='@Localizer["El nombre solo debe contener letras"]'
     data-apellido='@Localizer["El apellido solo debe contener letras"]'
     data-tel='@Localizer["Número de teléfono no válido"]'>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}