@model DoreanSportic.Web.ViewModel.DetalleProductoViewModel


@using DoreanSportic.Infrastructure.Models
@using System.Globalization

<!-- Para el separador de miles-->
@{
    var culturaPersonalizada = (CultureInfo)CultureInfo.InvariantCulture.Clone();
    culturaPersonalizada.NumberFormat.NumberGroupSeparator = " "; // separador de miles
    culturaPersonalizada.NumberFormat.NumberDecimalSeparator = "."; // separador decimal
}

@{
    ViewData["Title"] = "Details";
}

<!-- Mostrar la fecha de hoy (solo lectura) -->
@{
    var hoy = DateTime.Today;
}


<div class="p-4 flex flex-row gap-5">
    <div class="flex flex-col gap-2">
        <div class="flex flex-row justify-between">
            <a class="btn btn-sm btn-outline bg-[#006400] text-white w-50" asp-action="Index">Volver al listado</a>

            <!-- Botón para dejar reseña -->
            <button class="btn btn-sm btn-outline font-bold bg-warning text-black w-50"
                    onclick="modalResenna.showModal()">
                Dejar reseña
            </button>

        </div>
        <h1><b>DETALLE DEL PRODUCTO</b></h1>
        <div class="flex flex-row gap-5">
            <div class="justify-start"></div>
            <div class="ml-auto">
            </div>
        </div>
        <!-- Cargar los cards de los productos -->
        <div class="card card-side flex-row bg-base shadow-lg rounded-3">

            <figure class="w-1/3 p-4 flex flex-col items-start justify-center">
                <div class="carousel w-75 rounded-xl">
                    @for (int i = 0; i < Model.Producto.ImagenesProducto.Count; i++)
                    {
                        var img = Model.Producto.ImagenesProducto.ElementAt(i).Imagen;
                        var id = $"slide{i + 1}";
                        <div id="@id" class="carousel-item hidden w-full h-full flex justify-center items-center">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(img)"
                                 class="w-full h-50 object-contain rounded-xl" />
                        </div>
                    }
                </div>

                <!-- Navegación del carrusel -->
                <div class="flex justify-center mt-2 gap-2 mt-2">
                    @for (int i = 0; i < Model.Producto.ImagenesProducto.Count; i++)
                    {
                        var id = $"slide{i + 1}";
                        <a href="#@id" class="btn btn-xs">@(i + 1)</a>
                    }
                </div>
            </figure>

            <div class="card-body w-100">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap gap-1">

                        <!-- Etiquetas-->
                        <div class="badge bg-primary text-white">@(Model.Producto.IdCategoriaNavigation.Nombre.ToUpper())</div>
                        <div class="badge bg-[#000000] text-white">@(Model.Producto.IdMarcaNavigation.Nombre.ToUpper())</div>
                        <!-- Revisar si hay cantidad disponible del producto. Si no hay stock/cantidad, poner AGOTADO
                            caso contrario poner DISPONIBLE
                        -->
                        @{
                            if (Model.Producto.Stock == 0)
                            {
                                <div class="badge bg-[#FF0000] text-white">AGOTADO</div>
                            }
                            else
                            {
                                <div class="badge bg-[#50C878] text-white">DISPONIBLE</div>
                            }
                        }
                        <!-- Código Razor para mostrar el badge de "EN OFERTA" en caso de que
                            exista una promoción
                        -->
                        @if ((Model.Producto.IdPromocion?.Any(p => p.FechaInicio <= DateTime.Today && p.FechaFin >= DateTime.Today) ?? false) ||
                                                (Model.Producto.IdCategoriaNavigation?.IdPromocion?.Any(p => p.FechaInicio <= DateTime.Today && p.FechaFin >= DateTime.Today) ?? false))
                        {
                            <div class="badge badge-secondary">OFERTA</div>
                        }

                    </div>

                    <!-- Para mostrar las etiquetas del producto (Envio, Original, Garantia, etc.)-->
                    <div class="flex flex-wrap gap-1 mt-2">
                        @{
                            // Verificar si el producto es personalizable
                            var esPersonalizable = Model.Producto.IdEtiqueta?.Any(e => e.Nombre.ToLower().Contains("personalizable")) ?? false;

                            if (Model.Producto.IdEtiqueta != null && Model.Producto.IdEtiqueta.Count > 0)
                            {
                                foreach (var etiqueta in Model.Producto.IdEtiqueta)
                                {
                                    <div class="badge badge-soft badge-secondary">@etiqueta.Nombre.ToUpper()</div>
                                }
                            }
                        }
                    </div>

                </div>


                <h2 class="card-title text-xl font-semibold">
                    @Html.DisplayFor(model => model.Producto.Nombre)
                </h2>
                @{
                    decimal precioBase = Model.Producto.PrecioBase;

                    // Obtener promociones activas por producto
                    var promocionesProductoActivas = Model.Producto.IdPromocion
                    .Where(p => p.FechaInicio <= hoy && p.FechaFin >= hoy);

                    decimal descuentoProducto = promocionesProductoActivas.Sum(p => p.PorcentajeDescuento ?? 0);

                    // Obtener promociones activas por categoría (si existen)
                    IEnumerable<Promocion> promocionesCategoriaActivas = Enumerable.Empty<Promocion>();

                    if (Model.Producto.IdCategoriaNavigation?.IdPromocion != null)
                    {
                        promocionesCategoriaActivas = Model.Producto.IdCategoriaNavigation.IdPromocion
                        .Where(p => p.FechaInicio <= hoy && p.FechaFin >= hoy);
                    }

                    decimal descuentoCategoria = promocionesCategoriaActivas.Sum(p => p.PorcentajeDescuento ?? 0);

                    // Sumar ambos descuentos
                    decimal descuentoTotal = descuentoProducto + descuentoCategoria;

                    // Límite opcional a 100%
                    if (descuentoTotal > 100) descuentoTotal = 100;
                    var precioConDescuento = precioBase - (precioBase * descuentoTotal / 100);
                }

                @if (descuentoTotal > 0)
                {
                    <div class="p-2 w-75 flex flex-col ml-2 gap gap-1 rounded-lg border border-base-300">
                        <div class="flex flex-row gap gap-1 text-xs text-gray-400">
                            <b>Precio anterior: </b><span class="line-through">₡@precioBase.ToString("N2", culturaPersonalizada)</span>
                            <div class="badge bg-[#FF0000] badge-xl text-white font-bold">
                                - @descuentoTotal.ToString("0")%
                            </div>
                        </div>
                        <div class="flex flex-row gap gap-1">
                            <b>Precio en oferta: </b>
                            <div class="badge badge-xl bg-success text-black font-bold">
                                ₡@precioConDescuento.ToString("N2", culturaPersonalizada) + I.V.A
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="flex flex-row gap gap-1">
                        <b class="mt-1">Precio base: </b>
                        <div class="badge badge-outline w-fit">
                            <b>₡@precioBase.ToString("N2", culturaPersonalizada)</b> + I.V.A
                        </div>
                    </div>

                }
                <p class="text-base bg-base w-auto" style="text-align: justify">
                    @Html.DisplayFor(model => model.Producto.Descripcion)
                </p>
            </div>
        </div>

        <div class="flex flex-col gap gap-4 w-200">

            <!-- Para cargar dinámicamente el promedio de los usuarios -->
            <div id="zona-promedio">
                <p class="text-sm">Cargando promedio...</p>
            </div>

            <!-- Cargar las reseñas de los usuarios -->
            <div id="zona-resennas">
                <p class="text-sm">Cargando reseñas...</p>
            </div>

        </div>


    </div>

    <!-- Formulario para agregar el producto al carrito de compras -->
    <div class="p-2 h-auto" style="width: 100%">
        @if (Model.Producto.Stock > 0)
        {

            <form asp-controller="CarritoDetalle" id="formCarritoDetalle" 
                asp-action="Create" method="post" enctype="multipart/form-data" 
                class="mt-4 space-y-3"
                data-precio-base="@Model.Producto.PrecioBase"
                data-precio-descuento="@precioConDescuento"
                data-precio-mensaje="2000"
                data-precio-foto="3000">
                @Html.AntiForgeryToken()
                
                @* <div asp-validation-summary="All" class="text-sm italic" style="color:red; font-size: small"></div> *@

                <div class="flex flex-row gap gap-1 w-full justify-between">
                    <!-- Cantidad -->
                    <div class="form-control flex flex-col gap-1">
                        <label for="inputCantidad" class="label font-bold">Cantidad</label>
                        <input asp-for="@Model.DetalleCarrito.Cantidad" id="inputCantidad" type="number" value="0" min="0" max="@Model.Producto.Stock"
                               class="input input-bordered mb-1" required style="border-color:black;"/>
                        <span asp-validation-for="@Model.DetalleCarrito.Cantidad" style="color:red; font-size: small; font-style:italic"></span>
                    </div>
                        <div class="flex items-end">
                            <p class="font-bold" style="font-size: 20px">
                                Subtotal: ₡<span id="subTotalValor">0.00</span>
                            </p>
                        </div>                
                    </div>



                <!-- Personalización del producto (si es personalizable) -->
                @if (esPersonalizable)
                {
                    <!-- Mostrar las opciones de personalización (TipoEmpaque, MensajePersonalizado, Foto) solo
                    si el usuario quiere personalizar el producto (radioButton) Para esto se va a utilizar lógica de
                    Alpine.js -->

                        <div x-data="{ deseaPersonalizar: 'no' }" class="mb-2"
                             x-effect="if (deseaPersonalizar === 'si') { console.log('Personalización activada'); $nextTick(() => window.dispatchEvent(new Event('select-empaque-listo'))) }">
                            <div class="form-control">
                                <label class="label font-bold mb-2">¿Desea personalizar el producto?</label>
                                <div class="flex gap-4">
                                    <label class="flex items-center gap-2">
                                    <input type="radio" name="DeseaPersonalizar" value="si" x-model="deseaPersonalizar" class="radio" />
                                    Sí
                                    </label>
                                    <label class="flex items-center gap-2">
                                    <input type="radio" name="DeseaPersonalizar" value="no" x-model="deseaPersonalizar" class="radio" />
                                    No
                                    </label>
                            </div>
                        </div>

                            <template x-if="deseaPersonalizar === 'si'">
                                <div class="bordered mt-4">
                                    <div class="bordered">
                                        <h2 class="font-bold">Personalización del producto</h2>

                                        @*Seleccionar el tipo de empaque *@
                                        <div class="form-control mt-2" style="border-color:black;">
                                            <label asp-for= "@Model.DetalleCarrito.IdEmpaque" class="label font-bold mb-1 flex items-center gap-2">
                                
                                                <!-- Icono caja -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M20 12V6a2 2 0 00-2-2h-4.5l-1.5 2H6a2 2 0 00-2 2v6m16 0v6a2 2 0 01-2 2H6a2 2 0 01-2-2v-6m16 0H4" />
                                                </svg>
                                            Tipo de empaque
                                            </label asp-for>
                                            <select 
                                                asp-for="@Model.DetalleCarrito.IdEmpaque" 
                                                class="select select-bordered w-full" 
                                                style="border-color:black;">

                                                <option value="">Seleccione un tipo</option>
                                                @foreach (var empaque in Model.EmpaquesDisponibles)
                                                {
                                                    <option value="@empaque.Id" data-precio="@empaque.PrecioBase">
                                                        @empaque.TipoEmpaque - ₡@empaque.PrecioBase?.ToString("N2", culturaPersonalizada);
                                                    </option>
                                                }
                                            </select>
                                            <span asp-validation-for="@Model.DetalleCarrito.IdEmpaque" class="text-sm italic" style="color:red; font-size: small"></span>
                                            <!-- Mostrar errores de tipo Empaque -->
                                            <div id="error-tipoEmpaque" class="text-sm italic" style="color:red; font-size: small"></div>

                                        </div>

                                        @*Mensaje de personalización*@
                                        <div class="form-control mt-2 flex flex-col">
                                            <label asp-for= "@Model.DetalleCarrito.MensajePersonalizado" class="label font-bold mb-1 flex items-center gap-2">
                                                <!-- Icono comentario -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24"
                                                    stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M8 10h.01M12 10h.01M16 10h.01M21 12c0 4.418-4.03 8-9 8a9.77 9.77 0 01-4-.832L3 20l1.46-3.916A8.954 8.954 0 013 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                                                </svg>
                                            Mensaje personalizado del empaque (₡ 2 000.00)</label>
                                            <textarea asp-for="@Model.DetalleCarrito.MensajePersonalizado" maxlength="500" class="textarea textarea-bordered" rows="3" style="border-color:black;"></textarea>
                                            <span asp-validation-for="@Model.DetalleCarrito.MensajePersonalizado" class="text-sm italic" style="color:red; font-size: small"></span>
                                            <!-- Mostrar errores de mensaje personalizado -->
                                            <div id="error-mensajePersonalizado" class="text-sm italic" style="color:red; font-size: small"></div>
                                        </div>

                                        @*Foto del empaque*@
                        
                                        <!-- Icono cámara -->
                                        <div class="label font-bold flex items-center gap-2 mt-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M3 7h2l1-2h10l1 2h2a2 2 0 012 2v10a2 2 0 01-2 2H3a2 2 0 01-2-2V9a2 2 0 012-2z" />
                                                <circle cx="12" cy="13" r="4" />
                                            </svg>
                                            Foto del empaque (₡ 3 000.00)
                        
                                        </div>


                                        <!-- Drag and Drop para foto personalizada -->
                                        <div x-data="dataSingleFileDnD()" class="relative flex flex-col p-4 border border-gray-100 rounded mt-2 h-75">
                                            <div x-ref="dnd"
                                                 x-on:drop.prevent="handleFileDrop($event); $refs.dnd.classList.remove('drag-over')"
                                                 x-on:dragover.prevent="$refs.dnd.classList.add('drag-over')"
                                                 x-on:dragleave="$refs.dnd.classList.remove('drag-over')"
                                                 class="relative w-full min-h-[200px] flex items-center justify-center border rounded-lg bg-base-100 border-base-100 p-4 transition hover:border-blue-500 rounded">

                                            <!-- Para manejar la inserción de la imagen-->
                                            <input asp-for="@Model.DetalleCarrito.Foto"
                                                   accept="image/*" 
                                                   type="file"
                                                   class="drop-zone absolute inset-0 z-50 w-full h-full p-0 m-0 outline-none opacity-0"
                                                   x-on:change="handleFileChange($event)"                               
                                                   title="" />

                                            <div class="flex flex-col items-center justify-center py-10 text-center rounded">
                                                <svg class="w-6 h-6 mr-1 text-current-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                     stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                                </svg>
                                                <p class="m-0">Arrastre la imagen aquí o haga clic para seleccionarla.</p>
                                            </div>

                                            </div>

                                            <!-- Mostrar error si no se sube ninguna imagen -->
                                            <div id="error-foto" class="text-sm italic" style="color:red; font-size: small"></div>

                                        <!-- Para manejar la vista previa de la imagen -->
                                        <template x-if="file">
                                            <div class="w-25 h-25 relative mt-4">
                                                <img :src="previewUrl" class="w-full h-full object-cover rounded" alt="Vista previa" />
                                                <!-- Botón para quitar la imagen -->
                                                <button class="btn-borrar absolute top-0 right-0 z-50 p-1 bg-white rounded-bl focus:outline-none cursor-pointer hover:bg-gray-200" type="button" x-on:click="removeFile()">
                                                    <svg class="w-5 h-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                    </svg>
                                                 </button>
                                            </div>
                                        </template>
                                    </div>

                                    </div>
                                </div>
                            </template>
                        </div>
                }

                <!-- Botón para agregar producto al carrito -->
                <button id="btnAgregarCarrito" type="submit" class="btn btn-success mt-2 w-full justify-end">
                    Agregar al carrito
                </button>
            </form>
        }

    </div>

</div>

<!-- Modal para enviar reseñas -->
<dialog id="modalResenna" class="modal">
    <div class="modal-box bg-white rounded w-100" style="padding-left: 1%; padding-bottom: 1%; padding-right:1%">
        <button onclick="modalResenna.close()" class="btn btn-sm btn-circle bg-black text-white"
                style="margin-left: 100%; margin-top: -5%;">
            ✕
        </button>
        <h3 class="text-lg font-bold">Reseña del producto: @(Model.Producto.Nombre)</h3>
        <p class="py-1 italic" style="font-size: 10px;">Presione "ESC" en el teclado o haga clic en la X para cerrar esta ventana</p>

        <form id="formResenna" class="space-y-4 w-full" method="post" enctype="multipart/form-data">
            <!-- Generar el token antiforgery -->
            @Html.AntiForgeryToken()

            <!-- Producto -->
            <div class="form-control mb-3">
                <input type="hidden" name="IdProducto" value=@(Model.Producto.Id) />
            </div>

            <!-- Usuario -->
            <div class="form-control mb-3">
                <label class="label font-bold">Usuario: @(Model.UsuarioActual.UserName)</label>
                <input type="hidden" name="IdUsuario" value=@(Model.UsuarioActual.Id) />
                <input type="hidden" name="Usuario" value=@(Model.UsuarioActual.UserName) />
            </div>

            <!-- Comentario -->
            <div class="form-control mb-3 w-full">
                <label class="label font-bold mb-2">Comentario</label>
                <textarea name="Comentario" class="textarea textarea-bordered w-full" rows="3"></textarea>
            </div>
            <div id="error-comentario" class="mb-1 text-sm italic" style="color:red; font-size: small"></div>


            <!-- Fecha -->
            <div class="form-control mb-3">
                <label class="label font-bold">Fecha de la reseña: @hoy.ToString("dd-MM-yyyy")</label>
                <input type="hidden" name="FechaResenna" value="@hoy.ToString("yyyy-MM-dd")" />
            </div>

            <!-- Calificación -->
            <div class="form-control mb-4">
                <div class="flex flex-row gap gap-2 w-25">
                    <label class="label font-bold">Calificación</label>
                    <div class="star-rating">
                        <input type="radio" id="star5" name="Calificacion" value="5" />
                        <label for="star5">
                            <svg viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                         1.402 8.175L12 18.896l-7.336 3.861
                         1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        </label>
                        <input type="radio" id="star4" name="Calificacion" value="4" />
                        <label for="star4">
                            <svg viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                         1.402 8.175L12 18.896l-7.336 3.861
                         1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        </label>
                        <input type="radio" id="star3" name="Calificacion" value="3" />
                        <label for="star3">
                            <svg viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                         1.402 8.175L12 18.896l-7.336 3.861
                         1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        </label>
                        <input type="radio" id="star2" name="Calificacion" value="2" />
                        <label for="star2">
                            <svg viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                         1.402 8.175L12 18.896l-7.336 3.861
                         1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        </label>
                        <input type="radio" id="star1" name="Calificacion" value="1" />
                        <label for="star1">
                            <svg viewBox="0 0 24 24" class="w-6 h-6">
                                <path d="M12 .587l3.668 7.431 8.2 1.192-5.934 5.782
                         1.402 8.175L12 18.896l-7.336 3.861
                         1.402-8.175-5.934-5.782 8.2-1.192z" />
                            </svg>
                        </label>
                    </div>
                </div>

            </div>
            <div id="error-calificacion" class="mb-1 text-sm italic" style="color:red; font-size: small"></div>

            <!-- Input oculto para enviar True para el estado de la reseña-->
            <div class="form-control w-full">
                <input type="hidden" name="Estado" value="true" />
            </div>

            <!-- Botones "Cancelar" y "Enviar Reseña" -->
            <div class="flex flex-row gap gap-2 modal-action justify-between mb-3 w-full">
                <button type="button" class="btn btn-outline" onclick="modalResenna.close()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Enviar reseña</button>
            </div>
        </form>
    </div>
</dialog>



@section Scripts {
    <!-- Script para manejar el carrusel de imágenes del producto -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const totalSlides = @Model.Producto.ImagenesProducto.Count;
            let currentSlide = 1;

            function mostrarSlide(n) {
                // Ocultar todos
                document.querySelectorAll('.carousel-item').forEach(div => div.classList.add('hidden'));
                // Mostrar el actual
                const actual = document.getElementById(`slide${n}`);
                if (actual) actual.classList.remove('hidden');

                // Actualizar botones
                actualizarBotonActivo(`#slide${n}`);
            }

            function actualizarBotonActivo(hash) {
                document.querySelectorAll('.btn-xs').forEach(btn => {
                    if (btn.getAttribute('href') === hash) {
                        btn.classList.add('bg-[#004AAD]', 'text-white');
                        btn.classList.remove('bg-base-200', 'text-black');
                    } else {
                        btn.classList.remove('bg-[#004AAD]', 'text-white');
                        btn.classList.add('bg-base-200', 'text-black');
                    }
                });
            }

            // Botones numerados
            document.querySelectorAll('.btn-xs').forEach(btn => {
                btn.addEventListener('click', function (e) {
                    e.preventDefault();
                    const hash = this.getAttribute('href');
                    const match = hash.match(/#slide(\d+)/);
                    if (match) {
                        currentSlide = parseInt(match[1]);
                        mostrarSlide(currentSlide);
                    }
                });
            });

            // Mostrar slide inicial
            mostrarSlide(currentSlide);

        });
    </script>

    <!-- Script para cargar las reseñas del producto por medio de AJAX-->
    <script>
        fetch('/ResennaValoracion/GetResennasPorProducto?idProducto=@Model.Producto.Id')
            .then(response => response.text())
            .then(html => {
                document.getElementById("zona-resennas").innerHTML = html;
            })
            .catch(error => {
                document.getElementById("zona-resennas").innerHTML = "<p>Error cargando reseñas.</p>";
            });
    </script>

    <!-- Script para manejar diferentes eventos sobre la vista de Details del producto -->
    <script src="~/js/DetailProducto.js"></script>

}
