@model DoreanSportic.Application.DTOs.PromocionDTO 
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="py-4">  
    <a class="btn btn-sm btn-outline bg-[#006400] text-white w-50 mb-1" onclick="cargarVista('/Promocion/IndexAdmin')">
        @(Localizer["Volver al listado"])
    </a>
    <h1>
        <b>
            @(Localizer["DETALLES DE LA PROMOCIÓN"])
        </b>
    </h1>
</div>  

<div class="mb-4 flex flex-row gap gap-2">  
    <div class="card bg-base-100 shadow-lg max-h-96 overflow-y-auto w-100">  

        <div class="card-body">  

            <div class="border-b border-base-300 pb-2 mb-2">  
                <div class="flex flex-row justify-between gap gap-1">  
                    <h1 class="font-bold">@Model.Nombre</h1>  
                </div>  
                <br />  
                <ul class="list bg-base-100 rounded-box shadow-md">  

                    <p class="pb-2 text-xs opacity-60 tracking-wide">@Model.Descripcion</p>  
                    <p class="pb-2 text-xs opacity-60 tracking-wide">  
                        <b>
                            @(Localizer["Tipo de promoción"]):
                        </b>
                        @{
                            var tipoPromocion = Model.IdProducto.Any() ? Localizer["Por producto"].Value :
                            Model.IdCategoria.Any() ? Localizer["Por categoría"].Value :
                            Localizer["Sin tipo definido"].Value;
                        }  
                        @tipoPromocion  
                    </p>  
                    <p class="pb-2 text-xs opacity-60 tracking-wide">  
                        <b>
                            @(Localizer["Porcentaje de descuento"]):
                            :
                        </b>@($"{Model.PorcentajeDescuento:0.#}")%
                    </p>  
                    <p class="pb-2 text-xs opacity-60 tracking-wide">  
                        <b>Fecha de inicio: </b>@Model.FechaInicio.ToString("dd-MM-yyyy")  
                    </p>  
                    <p class="pb-2 text-xs opacity-60 tracking-wide">  
                        <b>Fecha de fin: </b>@Model.FechaFin.ToString("dd-MM-yyyy")  
                    </p>  

                </ul>  
                <br />  

                <br />  
                <div class="flex gap-1">  
                </div>  
            </div>  
        </div>  
    </div>  

    <div class="w-100 pl-5 gap gap-1">  
        @if (Model.IdProducto.Any())  
        {  
            <p class="pb-2 text-xs opacity-60 tracking-wide">  
                <b>Aplica a:</b>
            </p>  
            foreach (var item in Model.IdProducto)  
            {  
                <div class="card mb-2 bg-base-100 shadow-lg max-h-96 overflow-y-auto w-100">  
                    <div class="flex flex-row justify-between items-center px-5 py-0">  
                        <h2 class="p-5 font-semibold">@item.Nombre</h2>  
                        <img style="width:10%; height: 80%"  
                             src="data:image/jpeg;base64,@Convert.ToBase64String(item.PrimeraImagen ?? Array.Empty<byte>())"
                             alt=@(Localizer["Ropa/accesorios deportivos"])
                             class="items-end h-full object-contain rounded-xl pt-3" />
                    </div>  
                </div>  
            }  
        }  
        else if (Model.IdCategoria.Any())  
        {  
            <p class="pb-2 text-xs opacity-60 tracking-wide">  
                <b>Aplica a: </b>@string.Join(", ", Model.IdCategoria.Select(c => c.Nombre.ToUpper()))  
            </p>  
            foreach (var categoria in Model.IdCategoria)  
            {  
                foreach (var producto in categoria.Producto)  
                {  
                    <div class="card mb-2 bg-base-100 shadow-lg max-h-96 overflow-y-auto w-100">  
                        <div class="flex flex-row justify-between items-center px-5 py-0">  
                            <h2 class="p-5 font-semibold">@producto.Nombre</h2>  
                            <img style="width:10%; height: 80%"  
                                 src="data:image/jpeg;base64,@Convert.ToBase64String(producto.PrimeraImagen ?? Array.Empty<byte>())"
                                 alt=@(Localizer["Ropa/accesorios deportivos"])
                                 class="items-end h-full object-contain rounded-xl pt-3" />
                        </div>  
                    </div>  
                }  
            }  
        }  
        else  
        {
            <p class="text-xs text-gray-500">@(Localizer["No hay productos asociados a esta promoción"]).</p>
        }  
    </div>  

</div>
