@model DoreanSportic.Application.DTOs.PromocionDTO

@{
    ViewData["Title"] = "Details";
}

<a class="btn btn-sm btn-outline bg-[#006400] text-white w-50" asp-action="Index">Volver al listado</a>

<h1 class="pt-2"><b>DETALLES DE LA PROMOCIÓN</b></h1>
<br />

<div class="flex flex-row gap gap-2">
    <div class="card bg-base-100 shadow max-h-96 overflow-y-auto w-100">

        <div class="card-body">

            <div class="border-b border-base-300 pb-2 mb-2">
                <div class="flex flex-row justify-between gap gap-1">
                    <h1 class="font-bold">@Model.Nombre</h1>
                </div>
                <br />
                <ul class="list bg-base-100 rounded-box shadow-md">

                    <p class="pb-2 text-xs opacity-60 tracking-wide"><b>Tipo de promoción: </b>por producto</p>
                    <p class="pb-2 text-xs opacity-60 tracking-wide">
                        <b>Porcentaje de descuento: </b>@($"{Model.PorcentajeDescuento:0.#}")
                        %
                    </p>
                    <p class="pb-2 text-xs opacity-60 tracking-wide">
                        <b>Fecha de inicio: </b>@($"{Model.PorcentajeDescuento:0.#}")
                        %
                    </p>
                    <p class="pb-2 text-xs opacity-60 tracking-wide">
                        <b>Fecha de fin: </b>@($"{Model.PorcentajeDescuento:0.#}")
                        %
                    </p>


                </ul>
                <br />

                <br />
                <div class="flex gap-1">
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 pl-5">
        <p class="pb-2 text-xs opacity-60 tracking-wide"><b>Aplica a :</b></p>
        @foreach (var item in Model.IdProducto)
        {
            <div class="card bg-base-100 shadow max-h-96 overflow-y-auto w-100">
                <div class="flex flex-row gap gap-2">
                    <h2 class="p-5 font-bold">@item.Nombre</h2>
                       <img style="width:10%; height: 80%"
                             src="data:image/jpeg;base64,@Convert.ToBase64String(item.PrimeraImagen ?? Array.Empty<byte>())"
                             alt="Ropa/accesorios deportivos"
                             class=" h-full object-contain rounded-xl pt-3" />
                </div>


            </div>
        }
    </div>

</div>

