@model DoreanSportic.Application.DTOs.PedidoDTO

@{
    ViewData["Title"] = "Details";
}

<div class="pb-4">
    <a class="btn btn-sm btn-outline bg-[#006400] text-white w-50" asp-action="Index">Volver al listado</a>
</div>

<div class="max-w-4xl mx-auto p-6 bg-white text-slate-500 shadow-md rounded mt-10 border rounded font-sans">
    <!-- Header -->
    <div class="border-b pb-8 mb-8 flex items-center">
        <div class="flex-1 text-left p-2">
            <img src="@Url.Content("~/Assets/DoreanSporticLogo.png")" asp-append-version="true"
                 alt="Company Logo" class="h-10 w-25 mr-4">
            <p class="text-sm text-slate-500"><b>Dirección: </b>San Juan, Santa Bárbara, Heredia, Costa Rica.</p>
            <p class="text-sm text-slate-500"><b>Teléfono: </b>(123) 456-7890</p>
            <p class="text-sm text-slate-500"><b>Email:</b> contact@company.com</p>
        </div>
        <h1 class="pb-2 text-4xl font-bold text-slate-400 uppercase flex-1 text-right">Factura</h1>
    </div>

    <div class="p-4 mb-4 flex flex-row gap gap-5 items-start">
        <!-- Información del cliente -->
        <div class="mb-4">
            <p class="text-sm text-slate-500">
                <b>Pedido #: </b><u>@Html.DisplayFor(model => model.Id)</u>
            </p>
            <br /><br />
            <h2 class="font-bold text-slate-700">Información del cliente</h2>
            <div class="p-1">
                <p class="text-slate-600"><b>Nombre: </b>@Html.DisplayFor(model => model.IdClienteNavigation.Nombre)</p>
                <p class="text-sm text-slate-500"><b>Dirección: </b>@Html.DisplayFor(model => model.IdClienteNavigation.DireccionEnvio)</p>
                <p class="text-sm text-slate-500"><b>Nombre: </b>Client City, Country</p>
                <p class="text-sm text-slate-500"><b>Nombre: </b>Phone: (987) 654-3210</p>
                <p class="text-sm text-slate-500"><b>Nombre: </b>Email: client@example.com</p>
            </div>

        </div>

        <!-- Información del pedido/factura -->
        <div class="p-8 text-right flex-1 items-end">
            <p class="text-sm text-slate-500"><b>Fecha del pedido: </b>@Model.FechaPedido.ToString("dd/MM/yyyy")</p>

            <!-- Código para extraer la hora desde el id del pedido el cual trae la hora, minuto y segundo de creación-->
            @{

                //extraer los útlimos 6 caracteres del id del pedido
                string timepart = Model.Id.Substring(Model.Id.Length - 6);

                //Separar en hora, minuto y segundos la variable
                string hora = timepart.Substring(0, 2);
                string minutos = timepart.Substring(2, 2);
                string segundos = timepart.Substring(4, 2);

                //Darle formato a la hora 
                string horaFormateada = $"{hora}:{minutos}:{segundos}";
            }

            <p class="text-sm text-slate-500"><b>Hora de emisión (24H): </b>@horaFormateada</p>
        </div>
    </div>

    <h2 class="p-2 font-bold text-slate-700">Detalles de productos</h2>

    <!-- Tabla detalles de productos -->
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">

        <!-- head -->
        <thead class="bg-primary text-white">
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio unitario</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PedidoDetalle)
            {                 
                <tr>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
                    </td>
                </tr>
                        
            }
        </tbody>
    </table>
</div>

    <!-- Footer -->
    <div class="text-sm text-slate-500 border-t pt-8 mt-8">
        <p>Tiene 30 días naturales para realizar el pago del recibo</p>
        <p>Cuenta de banco: 123456789</p>
        <p>¡Gracias por su compra!</p>
    </div>
</div>


