@model DoreanSportic.Web.ViewModels.RegistroViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form id="formRegistro" asp-action="Registrar" asp-controller="Login" asp-antiforgery="true" method="post"
      x-data
      onsubmit="return manejarSubmitUsuarioAdmin(event)"
      class="space-y-4 p-2 bg-base-100 rounded-xl shadow-lg">

    <!-- Header -->
    <div class="flex flex-col gap-2 mb-3">
        <a href="javascript:void(0);" class="btn btn-sm btn-outline bg-[#006400] text-white w-50"
           onclick="cargarVista('/Usuario/IndexAdmin')">
            @(Localizer["Volver al listado"])
        </a>
        <h2 class="text-left font-bold">
            @(Localizer["NUEVO USUARIO"])
        </h2>
    </div>

    <div class="flex flex-row gap-4 w-full">
        <div asp-validation-summary="ModelOnly" class="text-sm italic text-error"></div>

        <!-- Columna 1: Formulario principal -->
        <div class="w-2/3 flex flex-col gap-4">
            <!-- Nombre -->
            <div class="form-control w-full">
                <label asp-for="Nombre" class="label">
                    <span class="label-text font-bold text-black">@Localizer["Nombre"]</span>
                </label>
                <input asp-for="Nombre" class="input input-bordered w-full mb-1 mt-1 required" style="border-color:black" />
                <span asp-validation-for="Nombre" class="text-sm italic" style="color:red; font-size: small"></span>
            </div>

            <!-- Apellido -->
            <div class="form-control w-full">
                <label asp-for="Apellido" class="label">
                    <span class="label-text font-bold text-black">@Localizer["Apellido"]</span>
                </label>
                <input asp-for="Apellido" class="input input-bordered w-full mb-1 mt-1 required" style="border-color:black" />
                <span asp-validation-for="Apellido" class="text-sm italic" style="color:red; font-size: small"></span>
            </div>

            <!-- Email -->
            <div class="form-control w-full">
                <label asp-for="Email" class="label">
                    <span class="label-text font-bold text-black">@Localizer["Correo electrónico"]</span>
                </label>
                <input asp-for="Email" type="email" class="input input-bordered w-full mb-1 mt-1" style="border-color:black" />
                <span asp-validation-for="Email" class="text-sm italic" style="color:red; font-size: small"></span>
            </div>

            <!-- Teléfono + Sexo en fila -->
            <div class="flex flex-row gap-4">
                <div class="form-control w-full">
                    <label asp-for="Telefono" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Teléfono (opcional)"]</span>
                    </label>
                    <input asp-for="Telefono" class="input input-bordered w-full mb-1 mt-1" style="border-color:black" />
                    <span asp-validation-for="Telefono" class="text-sm italic" style="color:red; font-size: small"></span>
                </div>

                <div class="form-control w-full">
                    <label asp-for="IdSexo" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Sexo (opcional)"]</span>
                    </label>
                    <select asp-for="IdSexo" asp-items="Model.Sexos" class="select select-bordered w-full mb-1 mt-1" style="border-color:black">
                        <option value="3">-- @Localizer["Seleccione"] --</option>
                    </select>
                </div>
            </div>

            <!-- Usuario + Rol de usuario en fila -->
            <div class="flex flex-row gap-4">
                <div class="form-control w-full">
                    <label asp-for="UserName" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Nombre de usuario"]</span>
                    </label>
                    <input asp-for="UserName" class="input input-bordered w-full mb-1 mt-1" style="border-color:black" />
                    <span asp-validation-for="UserName" class="text-sm italic" style=" color:red; font-size: small"></span>
                </div>

                <div class="form-control w-full">
                    <label asp-for="IdTipoUsuario" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Rol de usuario"]</span>
                    </label>
                    <select asp-for="IdTipoUsuario" asp-items="Model.TiposUsuario" class="select select-bordered w-full mb-1 mt-1" style="border-color:black">
                        <option value="0">-- @Localizer["Seleccione"] --</option>
                    </select>
                    <span asp-validation-for="IdTipoUsuario" class="text-sm italic" style=" color:red; font-size: small"></span>
                </div>


            </div>

            <!-- Contraseña y confirmar contraseña en fila -->
            <div class="flex flex-row gap-4">

                <div class="form-control w-full">
                    <label asp-for="Password" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Contraseña"]</span>
                    </label>
                    <div class="relative w-full">
                        <input class="input input-bordered w-full pr-10"
                               asp-for="Password"
                               type="password"
                               placeholder=@Localizer["Contraseña"]
                               style="border-color:black" />

                        <!-- Botón toggle -->
                        <button type="button"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                                onclick="togglePassword(this)">
                            👁️
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-sm italic" style="margin-left: 10%;color:red; font-size: small"></span>
                </div>

                <div class="form-control w-full">
                    <label asp-for="ConfirmPassword" class="label">
                        <span class="label-text font-bold text-black">@Localizer["Confirmar contraseña"]</span>
                    </label>
                    <div class="relative w-full">
                        <input class="input input-bordered w-full pr-10"
                               asp-for="ConfirmPassword"
                               type="password"
                               placeholder=@Localizer["Confirmar contraseña"]
                               style="border-color:black" />

                        <!-- Botón toggle -->
                        <button type="button"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                                onclick="togglePassword(this)">
                            👁️
                        </button>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-sm italic" style="margin-left: 10%;color:red; font-size: small"></span>
                </div>
            </div>

            <!-- Estado (oculto/true) si lo manejas en backend por defecto -->
            <input type="hidden" name="Estado" value="true" />

            <!-- Botón -->
            <div class="form-control mt-4">
                <button type="submit" class="btn btn-primary w-full">@Localizer["Crear usuario"]</button>
            </div>
        </div>

        <!-- Columna 2: Ayudas -->
        <div class="flex flex-col gap-2 w-1/3">
            <div class="w-full">
                <p class="font-bold italic">@Localizer["Requisitos de seguridad"]</p>
                <ul class="list-disc list-inside text-sm">
                    <li>@Localizer["- La contraseña debe tener 8 a 64 caracteres"]</li>
                    <li>@Localizer["- Debe incluir mayúscula, minúscula, número y símbolo"]</li>
                    <li>@Localizer["- El nombre de usuario admite letras, números, punto, guion y guion bajo"]</li>
                </ul>
            </div>

            <div class="w-full">
                <p class="font-bold italic">@Localizer["Políticas"]</p>
                <p class="text-sm">@Localizer["- El correo debe ser único. El nombre y apellido solo letras"]</p>
            </div>
        </div>

    </div>
</form>

<!-- Mensajes para JS -->
<div id="mensajes-internacionalizados" class="hidden"
     data-crearOk='@Localizer["¡Usuario creado correctamente!"]'
     data-errorForm='@Localizer["Corrige los errores del formulario"]'
     data-errorInesperado='@Localizer["Error inesperado"]'
     data-usuarioLong='@Localizer["El usuario debe tener entre {{0}} y {{1}} caracteres"]'
     data-usuarioForm='@Localizer["Solo letras, números, punto, guion y guion bajo"]'
     data-passLen='@Localizer["La contraseña debe tener entre {{0}} y {{1}} caracteres"]'
     data-passReq='@Localizer["Debe tener al menos una mayúscula, una minúscula, un número y un carácter especial"]'
     data-confirmar='@Localizer["Las contraseñas no coinciden"]'
     data-email='@Localizer["Correo electrónico no válido"]'
     data-nombre='@Localizer["El nombre solo debe contener letras"]'
     data-apellido='@Localizer["El apellido solo debe contener letras"]'
     data-tel='@Localizer["Número de teléfono no válido"]'>
    
</div>

