@model IEnumerable<DoreanSportic.Application.DTOs.UsuarioDTO>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

<div class="mb-4 overflow-x-auto bg-base-100 relative w-125">
    <div id="zona-usuarios" class="mb-4 overflow-x-auto bg-base-100 relative">
        <h1 class="py-2 font-bold">
            @(Localizer["Listado de usuarios"])
        </h1>
        <!-- Contenedor del botón de crear producto-->
        <div class="mb-2 flex flex-row gap-4">
            <button class="btn btn-sm btn-outline bg-[#006400] text-white w-50"
                    onclick="cargarVista('/Usuario/Create')">
                @(Localizer["CREAR USUARIO"])

            </button>
        </div>
        <table class="table w-full rounded-box border border-base-content/5">
            <!-- head -->
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">
                        @(Localizer["Nombre de usuario"])
                    </th>
                    <th class="text-center">
                        @(Localizer["Fecha de registro"])
                    </th>
                    <th class="text-center">
                        @(Localizer["Rol"])
                    </th>
                    <th class="text-center">
                        @(Localizer["Último inicio de sesión (UTC)"])
                    </th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td class="font-bold text-left">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="text-center">
                            @item.FechaRegistro.ToString("dd-MM-yyyy")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IdRolNavigation.Nombre)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.UltimoInicioSesionUtc)
                        </td>

                        <!-- Botones de "Ver detalles" y "Editar"-->
                        <td>
                            <div class="mt-auto flex justify-end gap-2">
                                <a class="btn btn-soft btn-primary text-white"
                                   onclick="cargarDetallePromocion(@item.Id)">
                                    @(Localizer["Ver detalles"])
                                </a>
                                <a class="btn btn-soft btn-warning text-black"
                                   onclick="cargarEditarPromocion(@item.Id)">
                                    @(Localizer["Editar"])
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="bottom-0 right-0 w-full bg-base-100 border-t">
                <tr>
                    <td colspan="5">
                        <div class="flex justify-end my-2">
                            <div class="join">
                                @Html.PagedListPager((IPagedList)Model, page =>
                                Url.Action("IndexAdmin", new { page }),
                                                                new PagedListRenderOptions
                                                                {
                                                                    Display = PagedListDisplayMode.Always,
                                                                    MaximumPageNumbersToDisplay = 5,
                                                                    LiElementClasses = new[] { "join-item" },
                                                                    PageClasses = new[] { "bg-primary text-white btn btn-ghost", "join-item", "pagina-usuario" }, 
                                                                    UlElementClasses = new[] { "join" },
                                                                    ContainerDivClasses = new[] { "join" }
                                                                })
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
