@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Bienvenido(a)</h1>
    <p>Ofrecemos diferentes productos deportivos a un cómodo precio.</p>
</div> *@

<!--Carrusel-->
<div class="w-full">
    <div class="carousel h-[500px] z-0 relative w-screen">
        <div id="slide1" class="carousel-item relative w-screen">
            <video class="w-full h-full object-cover" autoplay muted loop>
                <source src="./Assets/video1.mp4" type="video/mp4" />
                Su navegador no soporta la etiqueta video.
            </video>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 2px black; -webkit-text-fill-color: white;">
@*                     VE MÁS ALLÁ
                        <br />ENTRENA COMO NUNCA *@
                    @(Localizer["Slide1Title"])
                    </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">
@*                     VER PRODUCTOS
 *@                    @Localizer["Slide1Button"]
                    </a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-screen">
            <img src="~/Assets/tenis1.jpg"
                 class="w-full h-full object-cover" />

            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full overflow-visible flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 2px black; -webkit-text-fill-color: white;">
                    @* TODO COMIENZA CON UN PASO<br />HAZLO TUYO *@
                    @(Localizer["Slide2Title"])
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">
                    @*VER PRODUCTOS*@
                    @Localizer["Slide2Button"]
                </a>
            </div>

        </div>
        <div id="slide3" class="carousel-item relative w-screen">
            <video class="w-full h-full object-cover" autoplay muted loop>
                <source src="./Assets/video2.mp4" type="video/mp4" />
                Su navegador no soporta la etiqueta video.
            </video>

            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 2px black; -webkit-text-fill-color: white;">
                    @*DOMINA LA CANCHA<br />CON CADA MOVIMIENTO *@
                    @(Localizer["Slide3Title"])
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">
                    @*VER PRODUCTOS*@
                    @Localizer["Slide3Button"]
                </a>
            </div>
        </div>
        <div id="slide4" class="carousel-item relative w-screen">
            <img src="~/Assets/football.jpg"
                 class="w-full h-full object-cover" />


            <!-- Degradado oscuro vertical -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 via-black/30 to-transparent z-10"></div>

            <!--Texto a mostrar en el slide-->
            <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-center z-20 px-4">
                <h1 class="italic" style="font-weight: 800; font-size: 250%; -webkit-text-stroke: 2px black; -webkit-text-fill-color: white;">
                    @* DONDE NACE LA PASIÓN<br />COMIENZA EL JUEGO *@
                    @(Localizer["Slide4Title"])
                </h1>
                <br />
                <a class="bg-[#004AAD] btn text-white" asp-area="" asp-controller="Producto" asp-action="Index">
                    @* VER PRODUCTOS *@
                    @Localizer["Slide4Button"]
                </a>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const carousel = document.querySelector('.carousel');
            const slides = document.querySelectorAll('.carousel-item');
            const totalSlides = slides.length;
            let currentSlide = 0;

            setInterval(() => {
                currentSlide = (currentSlide + 1) % totalSlides;
                const nextSlide = slides[currentSlide];
                if (nextSlide && carousel) {
                    carousel.scrollTo({
                        left: nextSlide.offsetLeft,
                        behavior: 'smooth'
                    });
                }
            }, 5000); // cambia cada 5 segundos
        });
    </script>
}


